<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header style="display: flex; justify-content : space-around; background-color : #00b386; padding :10px;">

    <h1 style="padding-left:50px; font-size:40px; color : #ffcccc;">Songr Application</h1>
    <a style="margin:auto; text-decoration: none; color : #ffb3e6; border : 3px solid #ccc ;padding :10px;margin-left:62%;}
 " href="http://localhost:8080/">Home</a>
    <a style="margin:auto; text-decoration: none; color : #ffb3e6; border : 3px solid #ccc ;padding :10px;}
 " href="http://localhost:8080/songs">songs</a>


</header>
<br/>
<form  style="border-radius: 5px; background-color : #f2f2f2; padding: 15px; margin :left; height:55%; width:43%;" action="#" th:action="@{/albums}" th:object="${albums}" method="post">
    <h2 style=" color :#009973; font-weight:bold; padding-bottom :10px; text-align :center">Add New Album </h2>
    <p style=" color :#009973; font-weight:bold; padding-bottom :10px;">imageUrl : <input style="width:400px" type="text" field="*{imageUrl}" name="imageUrl"></p>
    <p style="color :#009973; font-weight:bold;">Title : <input style="width:400px" type="text" field="*{title}" name="title"></span></p>
    <p style="color :#009973; font-weight:bold;">Artist : <input style="width:400px" type="text" field="*{artist}" name="artist"></p>
    <p style="color :#009973; font-weight:bold;">SongCount : <input style="width:400px" type="number" field="*{songCount}" name="songCount"></p>
    <p style="color :#009973; font-weight:bold;">Length : <input style="width:400px" type="number" field="*{length}" name="length"></p>
    <p> <input style="width:600px; height:50px; background-color : #ffcccc; text-align:center"  type="submit" value="Submit"/></p>

</form>


  <div style="float :left; padding :38px; margin:10px; background-color : #fff; border:1px solid #ccc" th:each="album : ${albums}">

    <img style="width:400px;" th:src="${album.imageUrl}"></img>
    <p style="color :#009973; font-weight:bold;">Title : <span th:text="${album.title}"></span></p>
    <p style="color :#009973; font-weight:bold;">Artist : <span th:text="${album.artist}"></span></p>
    <p style="color :#009973; font-weight:bold;">SongCount : <span th:text="${album.songCount}"></span></p>
    <p style="color :#009973; font-weight:bold;">Length : <span th:text="${album.length}"></span></p>
      <a th:href="@{http://localhost:8080/oneAlbum(id=${album.id})}">show album</a>
  </div>
</body>
</html>